<div class="card border me-3 shadow-sm p-3 mb-3 hiddenRecipe" id='@ViewData["id"]-recipeCard' style="display:none;">
  <a href="/recipes/recipe?id=@ViewData["id"]" target="_blank">
    <div class="rounded wrapperForOverlay mb-2 shadow">
      <img class="rounded w-100 headerImgForOverlay" src="@ViewData["imgUrl"]" alt="Photo of @ViewData["name"]">
      <div class="centeredOverlayText">
        <h1 class="fw-normal fs-1 text-white">@ViewData["name"]</h1>
      </div>
    </div>
  </a>
  <div class="card-body px-3 py-2 text-center">
    @ViewData["steps"] Steps
    <hr class="my-1">
    @ViewData["minutes"] minutes to make
  </div>
</div>
