<div class="modal fade" id='editModal-@ViewData["IngredientId"]' tabindex="-1" aria-labelledby='editModalLabel-@ViewData["IngredientId"]' aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form onSubmit="submitEdit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id='editModalLabel-@ViewData["IngredientId"]'>Edit @ViewData["IngredientName"]</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-3">
          Please fill out the form to edit @ViewData["IngredientName"]
          <div class="my-3 pt-3">
            <div class="row">
              <div class="col">
                <div class="form-outline">
                  @if (ViewData["IngredientAPICount"] == null)
                  {
                    @:<input type="number" name="Count" value='@ViewData["IngredientCount"]' id='ingredientCount-@ViewData["IngredientId"]' class="form-control mb-3 shadow-sm" placeholder="ex 0.25">
                  }
                  else
                  {
                    @:<input type="number" name="CountForAPIRecipe" value='@ViewData["IngredientAPICount"]' id='ingredientCount-@ViewData["IngredientId"]' class="form-control mb-3 shadow-sm" placeholder="ex 0.25">
                  }
                  <label for="ingredientCount" class="form-label">Count</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 87.2px;"></div>
                    <div class="form-notch-trailing"></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <select class="form-select form-control shadow-sm" id='unitSelection-@ViewData["IngredientId"]' style="color:rgba(0,0,0,.6)!important" aria-label="Default select example" name='Measurement'>
                  @(ViewData["IngredientMeasurement"] == null ? Html.Raw("<option selected value='unit'>Unit</option>") : Html.Raw("<option value='unit'>Unit</option>"))

                  @(ViewData["IngredientMeasurement"] != null && ViewData["IngredientMeasurement"].ToString().ToLower() == "cup" ? Html.Raw("<option selected value=\"cup\">Cup</option>") : Html.Raw("<option value=\"cup\">Cup</option>"))

                  @(ViewData["IngredientMeasurement"] != null && (ViewData["IngredientMeasurement"].ToString().ToLower() == "tbsp" || ViewData["IngredientMeasurement"].ToString().ToLower() == "tablespoon") ? Html.Raw("<option selected value=\"tbsp\">TBSP</option>") : Html.Raw("<option value=\"tbsp\">TBSP</option>"))

                  @(ViewData["IngredientMeasurement"] != null && (ViewData["IngredientMeasurement"].ToString().ToLower() == "tsp" || ViewData["IngredientMeasurement"].ToString().ToLower() == "teaspoon") ? Html.Raw("<option selected value=\"tsp\">TSP</option>") : Html.Raw("<option value=\"tsp\">TSP</option>"))

                  @(ViewData["IngredientMeasurement"] != null && ViewData["IngredientMeasurement"].ToString().ToLower() == "lb" ? Html.Raw("<option selected value=\"lb\">LB</option>") : Html.Raw("<option value=\"lb\">LB</option>"))

                  @(ViewData["IngredientMeasurement"] != null && (ViewData["IngredientMeasurement"].ToString().ToLower() == "oz" || ViewData["IngredientMeasurement"].ToString().ToLower() == "ounce") ? Html.Raw("<option selected value=\"oz\">OZ</option>") : Html.Raw("<option value=\"oz\">OZ</option>"))

                  @(ViewData["IngredientMeasurement"] != null && ViewData["IngredientMeasurement"].ToString().ToLower() == "pinch" ? Html.Raw("<option selected value=\"pinch\">Pinch</option>") : Html.Raw("<option value=\"pinch\">Pinch</option>"))

                </select>
              </div>
            </div>
            <div class="form-outline">
              <input type="text" name="Name" id='ingredientInput-@ViewData["IngredientId"]' class="form-control mb-3 shadow-sm" value='@ViewData["IngredientName"]'>
              <label for="ingredientInput" class="form-label">Ingredient</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 87.2px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" value='@ViewData["IngredientId"]' name="IngredientId">
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-mdb-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  function submitEdit() {
    event.preventDefault();
    let ingredient = {};
    let countType = "";
    if (event.target.elements.Count) {
      ingredient.Count = event.target.elements.Count.value;
      countType = "Count";
    } else if (event.target.elements.CountForAPIRecipe) {
      ingredient.CountForAPIRecipe = event.target.elements.CountForAPIRecipe.value;
      countType = "CountForAPIRecipe";
    }
    ingredient.Name = event.target.elements.Name.value;
    ingredient.Measurement = event.target.elements.Measurement.value;
    ingredient.IngredientId = event.target.elements.IngredientId.value;


    $.ajax(
      {
        type: 'POST',
        dataType: 'JSON',
        url: '/Recipes/EditIngredient',
        data: { ingredient: ingredient },
        success:
          function (response) {
            if (response === "Not authorized") {
              alert("You do not have permission to edit this ingredient");
            } else {
              if (countType = "Count") {
                $(`#list${countType}-${ingredient.IngredientId}`).text(ingredient.Count);
              } else if (countType = "CountForAPIRecipe") {
                $(`#list${countType}-${ingredient.IngredientId}`).text(ingredient.CountForAPIRecipe);
              }
              let measurement = (ingredient.Measurement.toLowerCase() === "unit") ? "" : ingredient.Measurement + " of";
              $(`#listMeasurement-${ingredient.IngredientId}`).text(measurement);
              $(`#listName-${ingredient.IngredientId}`).text(ingredient.Name);
              $(`#editModal-${ingredient.IngredientId}`).modal('toggle');
            }
          },
        error:
          function (response) {
            console.log("Error: ", response);
          }
      });
  }
</script>
