@using Microsoft.AspNetCore.Mvc.ViewFeatures

<h3 class="mb-3"><em>Ingredients</em></h3>
@{
  int count = 0;
}
@foreach (var join in @Model.JoinEntitiesIngredients)
{
  <div class="d-flex my-2">
    @{
      bool found = false;
      int itemCount = 0;
    }
    @foreach (Pantry pantryItem in ViewBag.PantryList)
    {
      @if (pantryItem.KrogerItemName.Contains(join.Ingredient.Name.ToLower()))
      {
        itemCount = pantryItem.ItemCount;
        found = true;
      }
    }
    @if (found == true)
    {
      <i class="fas fa-check me-3" data-bs-placement="right" title="You currently have this @itemCount of this ingredient"></i>
    }
    else
    {
      string classColor = "text-primary";
      string hoverText = "You need this ingredient";
      foreach (Cart cartItem in ViewBag.CartList)
      {
        @if (cartItem.KrogerItemName.ToLower().Contains(join.Ingredient.Name.ToLower()))
        {
          classColor = "text-success";
          hoverText = "You aleady have this item in your cart";
        }
      }

      <i class="fas fa-cart-plus me-3 @classColor" data-bs-placement="right" title="@hoverText" id="ingredient-@join.Ingredient.IngredientId" data-mdb-toggle="modal" data-mdb-target="#ingredientModal-@join.Ingredient.IngredientId"></i>
      @await Html.PartialAsync("./IngredientModal.cshtml", new ViewDataDictionary(ViewData) {{ "id", @join.Ingredient.IngredientId },{ "name", @join.Ingredient.Name }})
    }
    <span>
      @if (@join.Ingredient.Count > 0)
      {
        @join.Ingredient.Count
      }
      else
      {
        @join.Ingredient.CountForTasty
      }
      @if (join.Ingredient.Measurement != null)
      {
        @:
        @join.Ingredient.Measurement
        @: of
      }
      @join.Ingredient.Name
    </span>
  </div>
  {

    count += 1;
  }
}
