<div class="rounded wrapperForOverlay mb-4 shadow">
  <img class="rounded w-100 headerImgForOverlay" src="@Model.ImgUrl" alt="Photo of @Model.Name">
  @if (ViewData["url"].ToString() != "Standard")
  {
    @:<button id="saveButton" class="btn btn-success btn-floating shadow centeredOverlayButton" onClick="saveApi('@Model.APIRecipeId', '@ViewData["url"].ToString()')"><i class="far fa-save"></i></button>
  }
  <div class="centeredOverlayText">
    <h1 class="fw-normal fs-1 text-white">@Model.Name</h1>
  </div>
</div>
