@using Microsoft.AspNetCore.Mvc.ViewFeatures

<h3 class="mb-3"><em>Ingredients</em></h3>
@{
  int count = 0;
}
@foreach (Ingredient ingredient in ViewBag.IngredientList)
{
  <div class="d-flex my-2">
    @{
      bool found = false;
    }
    @foreach (string pantryItem in ViewBag.PantryList)
    {
      @if (pantryItem.ToLower().Contains(ingredient.Name.ToLower())
     || ingredient.Name.ToLower().Contains(pantryItem.ToLower())
     || ingredient.Name.ToLower().Contains("water"))
      {
        found = true;
      }
    }
    @if (found == true)
    {
      <i class="fas fa-check me-3" data-bs-placement="right" title="You currently have this this ingredient"></i>
    }
    else
    {
      string classColor = "text-primary";
      string hoverText = "You need this ingredient";
      foreach (Cart cartItem in ViewBag.CartList)
      {
        @if (cartItem.KrogerItemName.ToLower().Contains(ingredient.Name.ToLower())
       || cartItem.SearchTermWhenAdded.ToLower().Contains(ingredient.Name.ToLower())
       || ingredient.Name.ToLower().Contains(cartItem.KrogerItemName.ToLower())
       || ingredient.Name.ToLower().Contains(cartItem.SearchTermWhenAdded.ToLower()))
        {
          classColor = "text-success";
          hoverText = "You aleady have this item in your cart";
        }
      }
      <i class="fas fa-cart-plus me-3 @classColor" data-bs-placement="right" title="@hoverText" id="ingredient-@count" data-mdb-toggle="modal" data-mdb-target="#ingredientModal-@count">
      </i>
      @await Html.PartialAsync("../../IndividualRecipe/IngredAndNotes/IngredientModal.cshtml", new ViewDataDictionary(ViewData) {{ "id", @count },{ "name", @ingredient.Name }})
    }
    <span>
      @if (@ingredient.CountForAPIRecipe != null)
      {
        @ingredient.CountForAPIRecipe
      }
      @if (ingredient.Measurement != null)
      {
        @:
        @ingredient.Measurement
        @: of
      }
      @ingredient.Name
    </span>
  </div>
  {

    count += 1;
  }
}
