@* <div style="width: 100vh?;overflow-x: auto; white-space: nowrap;"> *@
@using PantryPlusRecipe.Models

<div class="p-5 px-2 px-md-5 py-1 mx-1 mx-md-5 rounded inset-shadow-sm border bg-white my-3" id='@ViewData["type"]Container'>
  @* <h1 onClick='collapse("@ViewData["type"]")'>^</h1>
    <script>
    function collapse(divName) {
    $(`#${divName}Container`).addClass("collapsed-recipe-list");
    }
    </script> *@
  @if (ViewData["url"].ToString() == "tasty")
  {
    <div class="row justify-content-between">
      <div class="col-2">
        <h1 class="text-start fw-light pt-3 ps-3">@ViewData["type"]</h1>
      </div>
      <div class="col-2 d-flex align-items-center  justify-content-end">
        <button type="button" class="btn btn-light border shadow" onclick="reloadTastyDiv()">Back</button>
      </div>
    </div>
    <script>
      function reloadTastyDiv() {
        event.preventDefault();
        $.ajax({
          url: "/Recipes/ReloadTastyDiv",
          type: "GET"
        })
          .done(function (partialViewResult) {
            $("#tastySection").html(partialViewResult);
          });
      }
    </script>
  }
  else if (ViewData["url"].ToString() == "HelloFresh")
  {
    <div class="row justify-content-between">
      <div class="col-2">
        <h1 class="text-start fw-light pt-3 ps-3">@ViewData["type"]</h1>
      </div>
      <div class="col-2 d-flex align-items-center  justify-content-end">
        <button type="button" class="btn btn-light border shadow" onclick="reloadHelloFreshDiv()">Back</button>
      </div>
    </div>
    <script>
      function reloadHelloFreshDiv() {
        event.preventDefault();
        $.ajax({
          url: "/Recipes/ReloadHelloFreshDiv",
          type: "GET"
        })
          .done(function (partialViewResult) {
            $("#helloFreshSection").html(partialViewResult);
          });
      }
    </script>
  }
  else
  {
    <h1 class="text-start fw-light pt-3 ps-3">@ViewData["type"]</h1>
  }
  <div class="d-flex scroll py-3">
    @foreach (Recipe recipe in ViewData["recipeList"] as IEnumerable<PantryPlusRecipe.Models.Recipe>)
    {
      <div style="min-width:170px; min-height:200px;" class="me-4">

        <div class="card border me-3 shadow-sm" style="min-width:170px; min-height:200px; max-height: 275px;">
          <div class="card text-white shadow-sm">
            <img src="@recipe.ImgUrl" class="card-img" alt="..." style="width: auto; height: 170px; object-fit: cover;">
            <div class="overlay rounded" style="background-color: rgb(56 59 64 / 60%);"></div>
            <div class="card-img-overlay py-3 px-2 d-flex align-items-center">
              <a href="/@ViewData["url"]?id=@recipe.RecipeId" class="link-white">
                <h5 class="card-title multiline fw-normal fs-4" style="text-overflow: ellipsis;">@recipe.Name</h5>
              </a>
              <div id="@recipe.RecipeId-starFavorite-@ViewData["url"]" style="margin-top:-140px; position: absolute;">
                @if (ViewData["url"].ToString() != "tasty" && ViewData["url"].ToString() != "HelloFresh")
                {
                  @if (ViewBag.ListOfFavoriteIds.Contains(recipe.RecipeId))
                  {
                    <i class="fas fa-star" onClick="handleFavorite('@ViewData["url"]', @recipe.RecipeId)"></i>
                  }
                  else
                  {
                    <i class="far fa-star" onClick="handleFavorite('@ViewData["url"]', @recipe.RecipeId)"></i>
                  }
                }
              </div>
            </div>
          </div>
          <a href="/@ViewData["url"]?id=@recipe.RecipeId" class="link-dark">
            <div class="card-body px-3 py-2" style="white-space: normal;">
              @if (ViewData["url"].ToString() != "HelloFresh")
              {
                @:STEPS: @recipe.NumberOfSteps
              }
              else
              {
                @recipe.Notes
              }
              <br />
              @{
                if ((recipe.PrepMinutes + recipe.CookMinutes) > 0)
                {
                  @: TIME : @(recipe.PrepMinutes + recipe.CookMinutes) minutes
                  <br />
                }
              }
              @if (ViewData["url"].ToString() != "tasty" && recipe.Cost > 0)
              {
                @:COST: $@recipe.Cost
              }

            </div>
          </a>
        </div>
      </div>
    }
  </div>
</div>
