<div style="height:60vh;overflow-y: scroll;">
  <h3><em>Instructions</em></h3>
  @for (int x = 1; x <= @Model.NumberOfSections; x++)
  {
    string sectionName = "";
    @foreach (var join in @Model.JoinEntities)
    {
      @if (join.Step.SectionNumber == x)
      {
        sectionName = join.Step.SectionName;
      }
    }
    <h4 class="mt-3">@sectionName</h4>
    <ol class="list-group list-group-light list-group-numbered me-3">
      @foreach (var join in @Model.JoinEntities)
      {

        @if (join.Step.SectionNumber == x)
        {
          <li class="list-group-item py-2">@join.Step.Details</li>
        }
      }
    </ol>
  }
</div>
