@using PantryPlusRecipe.ViewModels

@model RegisterViewModel

<h3 class="mb-4">Register
  <hr />
</h3>

<div class="row">
  <div class="d-sm-block d-md-none col-sm-12">
    @* <p>Use the form to the left to register an account with PantryPlus Recipes</p> *@
    <p>At this time, PantryPlus only supports authentication with Kroger. In the future, we will support non-Kroger accounts.</p>
    <p class="text-dark">Already have an account? Login <a href="/?v=login" class="link-dark text-decoration-underline">here</a></p>
  </div>
  <div class="col-sm-12 col-md-7">
    @if (ViewBag.KrogerId != null)
    {
      <p>Thanks! We've got your Id from Kroger. We just need a couple more bits of info to complete your registration.</p>
    }
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
      <div class="form-outline">
        @Html.TextBoxFor(m => m.FirstName, new {@class="form-control mb-3 shadow-sm", required="required" })
        @Html.LabelFor(m => m.FirstName, "First Name", new {@class="form-label"})
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 87.2px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      <div class="form-outline">
        @Html.TextBoxFor(m => m.LastName, new {@class="form-control mb-3 shadow-sm", required="required" })
        @Html.LabelFor(m => m.LastName, "Last Name", new {@class="form-label"})
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 87.2px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      <div class="form-outline">
        @Html.TextBoxFor(m => m.Email, new {@class="form-control mb-3 shadow-sm", type="email", required="required" })
        @Html.LabelFor(m => m.Email, new {@class="form-label"})
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 87.2px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      @if (ViewBag.KrogerId == null)
      {
        <div class="form-outline">
          @Html.PasswordFor(m => m.Password, new {@class="form-control mb-3 shadow-sm", required="required"})
          @Html.LabelFor(m => m.Password, new {@class="form-label"})
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 87.2px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>
        <div class="form-outline">
          @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control mb-3 shadow-sm", required="required"})
          @Html.LabelFor(m => m.ConfirmPassword, new {@class="form-label"})
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 87.2px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>
      }
      else
      {
        <input data-val="true" data-val-required="The Kroger Id field is required." id="KrogerId" name="KrogerId" type="hidden" value="@ViewBag.KrogerId">
        <input data-val="true" data-val-required="The Kroger Id field is required." id="Token" name="Token" type="hidden" value="@ViewBag.Token">
        <input data-val="true" data-val-required="The Kroger Id field is required." id="RefreshToken" name="RefreshToken" type="hidden" value="@ViewBag.RefreshToken">
      }
      @if (ViewBag.KrogerId == null)
      {
        <input type="submit" value="Register" disabled class="btn btn-primary mb-3 shadow-sm text-white" />
      }
      else
      {
        <input type="submit" value="Register" class="btn btn-primary mb-3 shadow-sm text-white" />
      }

    }
    @if (ViewBag.KrogerId == null)
    {
      <div class="card bg-light shadow-sm mt-3 rounded border">
        <div class="card-body">
          <p class="card-text">Alternatively, use your Kroger account to register and login instead of an email and password.
          </p>
          <a href="/GetAuthorizationCode"><input type="button" value="Register With Kroger" class="btn btn-primary mb-3 shadow-sm text-white " /></a>
          @* <a href="/GetAuthorizationCode"><input type="button" value="Register With Kroger" class="btn btn-primary mb-3 shadow-sm text-white d-block d-md-none w-100 ps-2" /></a> *@
        </div>
      </div>
    }
  </div>
  <div class="d-none d-md-block col-md-5">
    <p>Use the form to the left to register an account with PantryPlus Recipes</p>
    <p class="text-dark">Already have an account? Login <a href="/?v=login" class="link-dark text-decoration-underline">here</a></p>
  </div>
</div>
